﻿﻿@{
   Layout = "_MioLayout";
} 
@* 1. Dichiarare una variabile valorizzandola con il nostro nome.
    Dichiarare un'altra variabile valorizzandola con il nostro cognome.
    Stampare il nostro nome e cognome all'interno di un tag h2.
    2. Creare una funzione che stampa la somma dei numeri che vanno da 1 a n (con n passato come parametro - n incluso)
    Stampare dentro uno span il risultato.
    3. Contare quante volte la lettera a è presente nalla frase "nel mezzo del cammin di nostra vita" e stampare questo valore in pagina
    4. Creare una List<int>
        di 20 numeri interi (generati random da 1 a 90, 1 e 90 inclusi) e mostrare in pagina solo i numeri compresi tra 20 e 70
        5. Stampare in pagina la data e l'ora attuale (usando la classe DateTime) con il formato anno-mese-giorno ore:minuti:secondi
        6. Partendo dalla data di oggi (usando la classe DateTime) stampare in pagina
        a. la data di 7 giorni fa
        b. che giorno della settimana è oggi (il risultato dovrà  essere il nome del giorno (Lunedì, Martedì, ...)
        c. che giorno della settimana sarà  nello stesso giorno e mese di oggi ma tra un anno (il risultato dovrÃ  essere il nome del giorno (Lunedì, Martedì, ...) *@

@{
    string lastName = "Fontana";
    string firstName = "Alessandro";
    string punto3 = "Nel mezzo del cammin di nostra vita";
    DateTime now = DateTime.Now;
    DateTime oneWeekAgo = now.AddDays(-7);
    List<int> numeri = new();
    Random randi = new Random();
    for (int i = 0; i < 20; i++)
    {
        numeri.Add(randi.Next(1, 90));
    }


    int CalcolaSequenza(int n)
    {
        int counter = 0;
        for (int i = 1; i <= n; i++)
        {
            counter += i;
        }
        return counter;
    }

    int ContaLetteraA(string frase)
    {
        int count = 0;
        char[] fraseSplittata = frase.ToCharArray();
        foreach (var lettera in fraseSplittata)
        {
            if (lettera == 'a')
            {
                count++;
            }
        }
        return count;
    }

}
<div class="esercizio">
    <h3>Primo esercizio: </h3>
    <h2>@firstName @lastName</h2>
    <h3>Secondo esercizio: </h3>
    <span>@CalcolaSequenza(5)</span>
    <h3>Terzo esercizio: </h3>
    <span>@ContaLetteraA(punto3)</span>
    <h3>Quarto esercizio: </h3>
    @{
        foreach (var numero in numeri)
        {
            if (numero <= 70 && numero >= 20)
            {
                <span>@numero</span>  <br>
            }
        }
    }
    <h3>Quinto esercizio: </h3>
    <span>@now</span>
    <h3>Sesto esercizio: a</h3>
    <span>@oneWeekAgo</span>
    <h3>Sesto esercizio: b</h3>
    <span>@now.ToString("dddd", new System.Globalization.CultureInfo("it-IT"))</span>
    <h3>Sesto esercizio: c</h3>
    <span>@now.AddDays(365).ToString("dddd", new System.Globalization.CultureInfo("it-IT"))</span>
</div>

<style>
    body {
        margin: 20px;
        background-color: #f9f9f9;
        color: darkmagenta;
    }

    h3 {
        color: blue;
        margin-bottom: 10px;
    }

    h2 {
        padding-bottom: 50px;
    }

    p {
        color: gray;
        margin-bottom: 10px;
    }

    ul {
        list-style-type: none;
    }

    li {
        color: gray;
        margin-bottom: 5px;
    }

    span {
        font-weight: bold;
        color: green;
    }
</style>